@font-face {
    font-family: 'Freestyle Script';
    src: url('../fonts/FreestyleScript/10036.eot');
    src: url('../fonts/FreestyleScript/10036.eot') format('embedded-opentype'),
         url('../fonts/FreestyleScript/10036.woff2') format('woff2'),
         url('../fonts/FreestyleScript/10036.woff') format('woff'),
         url('../fonts/FreestyleScript/10036.ttf') format('truetype'),
         url('../fonts/FreestyleScript/10036.svg#10036') format('svg');
}

@font-face {
    font-family: 'Champagne_LimousinesBold';
    src: url('../fonts/Champagne_Limousines/Champagne_LimousinesBold.eot');
    src: url('../fonts/Champagne_Limousines/Champagne_LimousinesBold.eot') format('embedded-opentype'),
         url('../fonts/Champagne_Limousines/Champagne_LimousinesBold.woff2') format('woff2'),
         url('../fonts/Champagne_Limousines/Champagne_LimousinesBold.woff') format('woff'),
         url('../fonts/Champagne_Limousines/Champagne_LimousinesBold.ttf') format('truetype'),
         url('../fonts/Champagne_Limousines/Champagne_LimousinesBold.svg#Champagne_LimousinesBold') format('svg');
}