@import "_reset";
@import "_general";
@import "_fonts";
@import "_slick";

/* header */
header {
	display: flex;
	align-content:  center;
	section {
		max-width: 1200px;
		width: 100%;

	}
	.sandwich-menu {
		display: none;
		overflow: hidden;
		span {
			width: 30px;
			height: 7px;
			background-color: #6666cc;
			float: left;
			& + span {
				margin-top: 10px;
			}
		}

	}
}