@font-face {
  font-family: 'Freestyle Script';
  src: url("fonts/10036.eot");
  src: url("fonts/10036.eot") format("embedded-opentype"), url("fonts/10036.woff2") format("woff2"), url("fonts/10036.woff") format("woff"), url("fonts/10036.ttf") format("truetype"), url("fonts/10036.svg#10036") format("svg"); }
