@font-face {
  font-family: 'Champagne_LimousinesBold';
  src: url("fonts/Champagne_LimousinesBold.eot");
  src: url("fonts/Champagne_LimousinesBold.eot") format("embedded-opentype"), url("fonts/Champagne_LimousinesBold.woff2") format("woff2"), url("fonts/Champagne_LimousinesBold.woff") format("woff"), url("fonts/Champagne_LimousinesBold.ttf") format("truetype"), url("fonts/Champagne_LimousinesBold.svg#Champagne_LimousinesBold") format("svg"); }
