/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  background-color: #FFF;
  height: 100%;
  line-height: 1;
  position: relative;
  font-size: 13px !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: Arial, sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #100da9;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html, body {
  width: 100%;
  height: 100%; }

body {
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #333; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header, section, main, footer {
  width: 100%; }

section {
  padding: 120px 0; }
  section.no-padding {
    padding: 0; }

.wrap {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

@font-face {
  font-family: 'Freestyle Script';
  src: url("../fonts/FreestyleScript/10036.eot");
  src: url("../fonts/FreestyleScript/10036.eot") format("embedded-opentype"), url("../fonts/FreestyleScript/10036.woff2") format("woff2"), url("../fonts/FreestyleScript/10036.woff") format("woff"), url("../fonts/FreestyleScript/10036.ttf") format("truetype"), url("../fonts/FreestyleScript/10036.svg#10036") format("svg"); }

@font-face {
  font-family: 'Champagne_LimousinesBold';
  src: url("../fonts/Champagne_Limousines/Champagne_LimousinesBold.eot");
  src: url("../fonts/Champagne_Limousines/Champagne_LimousinesBold.eot") format("embedded-opentype"), url("../fonts/Champagne_Limousines/Champagne_LimousinesBold.woff2") format("woff2"), url("../fonts/Champagne_Limousines/Champagne_LimousinesBold.woff") format("woff"), url("../fonts/Champagne_Limousines/Champagne_LimousinesBold.ttf") format("truetype"), url("../fonts/Champagne_Limousines/Champagne_LimousinesBold.svg#Champagne_LimousinesBold") format("svg"); }

/*@import "_slick";*/
/* header */
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  min-height: 100px; }
  header section {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 17px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    header section .wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-content: center;
          -ms-flex-line-pack: center;
              align-content: center; }
  header .logo {
    width: 70px;
    display: block;
    position: absolute;
    top: 17px;
    left: 50%;
    margin-left: -35px; }
    header .logo a {
      display: block;
      width: 100%;
      height: 100%;
      padding-top: 40px;
      background: url(../img/bg-logo.png) no-repeat 50% 0;
      font-size: 24px;
      color: #6666cc;
      text-transform: uppercase;
      font-family: 'Champagne_LimousinesBold';
      text-align: center; }
  header .sandwich-menu {
    display: none;
    overflow: hidden; }
    header .sandwich-menu span {
      width: 30px;
      height: 7px;
      background-color: #6666cc;
      float: left; }
      header .sandwich-menu span + span {
        margin-top: 10px; }
  header nav {
    max-width: 780px;
    width: 100%;
    position: relative;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }
    header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-content: flex-start;
          -ms-flex-line-pack: start;
              align-content: flex-start;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      header nav ul:first-child {
        -webkit-align-self: flex-start;
            -ms-flex-item-align: start;
                align-self: flex-start; }
      header nav ul:last-child {
        -webkit-align-self: flex-end;
            -ms-flex-item-align: end;
                align-self: flex-end; }
      header nav ul li {
        position: relative;
        padding-bottom: 6px; }
        header nav ul li + li {
          margin-left: 29px; }
        header nav ul li:nth-last-child(-n+3) {
          -webkit-align-self: flex-end;
              -ms-flex-item-align: end;
                  align-self: flex-end; }
        header nav ul li:after {
          content: "";
          display: none;
          width: 30px;
          height: 1px;
          background-color: #6666cc;
          position: absolute;
          left: 50%;
          margin-left: -15px;
          bottom: 0;
          z-index: 16; }
        header nav ul li:hover:after {
          display: block; }
        header nav ul li:hover a {
          color: #6666cc; }
        header nav ul li a {
          color: #666;
          font-weight: 600; }

/* main */
section h2 {
  color: #fff;
  font-size: 48px;
  line-height: 72px;
  text-transform: uppercase;
  font-weight: 700; }

section h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  text-transform: uppercase;
  color: #6666ff;
  text-align: center; }

section .beautiful {
  font-family: 'Freestyle Script', sans-serif;
  font-size: 41px;
  line-height: 61px;
  color: #666;
  text-align: center; }

.primo {
  background: url(../img/img-01.png) no-repeat 0 0/cover;
  height: 100%;
  min-height: 600px;
  padding: 100px 0; }
  .primo h2 {
    padding-top: 20px; }
  .primo .beautiful {
    color: #fff;
    font-size: 40px;
    line-height: 1;
    text-align: left;
    margin-top: 25px; }
  .primo .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .primo .wrap > div {
      padding: 0 44px; }
  .primo form {
    background-color: #fff;
    max-width: 300px;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 8px;
            border-radius: 8px;
    padding: 30px;
    display: block;
    -webkit-box-shadow: 1px 2px 3px 1px #666;
            box-shadow: 1px 2px 3px 1px #666;
    overflow: overlay; }
    .primo form .row {
      float: left;
      width: 100%; }
      .primo form .row + .row {
        margin-top: 17px; }
    .primo form h4 {
      font-size: 25px;
      line-height: 32px;
      font-weight: 600;
      color: #6666cc;
      padding-bottom: 25px; }
    .primo form input[type=submit] {
      border: none;
      float: right;
      margin-right: -4px;
      margin-top: 30px;
      width: 75%;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      background-color: #6666ff;
      color: #fff;
      font-size: 16px;
      line-height: 50px;
      height: 50px;
      text-align: center;
      cursor: pointer; }
    .primo form input[type=text] {
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: none;
      background-color: #f6f6f6;
      padding: 0 10px;
      height: 50px;
      line-height: 50px;
      color: #999;
      width: 100%; }
    .primo form select {
      width: 100%;
      height: 50px;
      -webkit-border-radius: 5px;
              border-radius: 5px;
      border: none;
      line-height: 50px;
      color: #999;
      background-color: #f6f6f6;
      padding: 0 10px; }

.blockbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px; }
  .blockbox .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .blockbox .row + .row {
      margin-top: 25px; }
    .blockbox .row div {
      -webkit-border-radius: 8px;
              border-radius: 8px;
      overflow: hidden;
      max-width: 570px;
      -webkit-box-shadow: 0 4px 5px 3px #f6f6f6;
              box-shadow: 0 4px 5px 3px #f6f6f6; }
      .blockbox .row div figure {
        float: left;
        width: 50%;
        -webkit-border-radius: 8px 0 0 8px;
                border-radius: 8px 0 0 8px; }
        .blockbox .row div figure img {
          width: 100%;
          height: auto;
          display: inline-block; }
      .blockbox .row div article {
        float: left;
        width: 50%;
        -webkit-border-radius: 0 8px 8px 0;
                border-radius: 0 8px 8px 0;
        padding: 30px 0 30px 30px;
        color: #666; }
        .blockbox .row div article h5 {
          font-weight: 700;
          font-size: 20px;
          line-height: 45px;
          text-transform: uppercase; }
        .blockbox .row div article p {
          padding-right: 30px;
          line-height: 22px; }
          .blockbox .row div article p.light {
            color: #999; }

#aboutUs {
  min-height: 550px; }
  #aboutUs .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  #aboutUs .column {
    width: 100%;
    max-width: 570px; }
  #aboutUs h3 {
    text-align: left; }
  #aboutUs p {
    line-height: 22px;
    max-width: 460px;
    margin-top: 20px; }

#elements {
  background: url(../img/img-17.png) no-repeat 0 0/cover;
  height: 100%;
  min-height: 808px; }
  #elements .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    #elements .wrap .element-block {
      text-align: center;
      padding: 100px 0 50px;
      color: #fff;
      max-width: 270px;
      position: relative;
      z-index: 4; }
      #elements .wrap .element-block:before {
        content: '';
        display: block;
        width: 70px;
        height: 70px;
        background-image: url(../img/icon-pack-01.png);
        background-repeat: no-repeat;
        position: absolute;
        z-index: 14;
        top: 0;
        left: 50%;
        margin-left: -35px; }
      #elements .wrap .element-block.item_1:before {
        background-position: -15px -10px; }
      #elements .wrap .element-block.item_2:before {
        background-position: -124px -6px; }
      #elements .wrap .element-block.item_3:before {
        background-position: -235px -6px; }
      #elements .wrap .element-block.item_4:before {
        background-position: -343px -9px; }
      #elements .wrap .element-block.item_5:before {
        background-position: -440px -8px; }
      #elements .wrap .element-block.item_6:before {
        background-position: -531px -6px; }
      #elements .wrap .element-block.item_7:before {
        background-position: -628px -12px; }
      #elements .wrap .element-block.item_8:before {
        background-position: -721px -12px; }
      #elements .wrap .element-block h4 {
        text-transform: uppercase;
        font-size: 18px;
        line-height: 22px;
        font-weight: 700;
        height: 50px; }
      #elements .wrap .element-block p {
        font-size: 16px;
        line-height: 27px; }

#shop .wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
  #shop .wrap .ticket {
    width: 100%;
    max-width: 370px;
    -webkit-box-shadow: 0 0px 43px 0px #999;
            box-shadow: 0 0px 43px 0px #999;
    -webkit-border-radius: 10px;
            border-radius: 10px; }
    #shop .wrap .ticket header {
      background-color: #6666ff;
      -webkit-border-radius: 8px 8px 0 0;
              border-radius: 8px 8px 0 0;
      height: 150px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #shop .wrap .ticket header h3 {
        color: #fff;
        font-size: 67px;
        font-weight: 700;
        line-height: 75px;
        width: 100%; }
        #shop .wrap .ticket header h3 span {
          font-size: 32px;
          font-weight: 700;
          line-height: 75px; }
        #shop .wrap .ticket header h3 em {
          font-size: 18px;
          font-weight: 700;
          font-style: normal;
          line-height: 24px; }
    #shop .wrap .ticket .box {
      padding: 40px;
      -webkit-border-radius: 0 0 8px 8px;
              border-radius: 0 0 8px 8px;
      background-color: #fff; }
      #shop .wrap .ticket .box p {
        color: #666;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        padding: 25px 0; }
        #shop .wrap .ticket .box p:after {
          content: '';
          display: block;
          width: 100px;
          height: 1px;
          background-color: #666;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -50px; }
      #shop .wrap .ticket .box button {
        border: none;
        -webkit-border-radius: 15px;
                border-radius: 15px;
        background-color: #6666ff;
        color: #fff;
        width: 170px;
        height: 50px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 50px;
        display: block;
        margin: 25px auto 0; }

section.background {
  background: transparent url("../img/bg-lylia.png") no-repeat 100% 100%;
  padding: 0; }

.gallery-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  height: 100%;
  min-height: 600px; }
  .gallery-block div {
    width: 100%;
    max-width: 475px;
    height: auto;
    max-height: 350px;
    position: relative;
    z-index: 3; }
    .gallery-block div:hover .cover {
      visibility: visible; }
    .gallery-block div .cover {
      visibility: hidden;
      position: absolute;
      z-index: 13;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(102, 153, 255, 0.5);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .gallery-block div .cover a {
        width: 57px;
        height: 57px;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background: #fff url(../img/icon-search.png) no-repeat 50%; }
    .gallery-block div img {
      width: 100%;
      height: auto;
      display: inline-block; }

/*slider */
.slider {
  display: block;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  width: 100%;
  position: relative;
  margin: 1px; }
  .slider .slick-arrow {
    border: none;
    background-color: #fff;
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-image: url(../img/icon-prev_next.png);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 50;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-top: -10px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px 0px #999;
            box-shadow: 0 1px 3px 0px #999; }
    .slider .slick-arrow.slick-prev {
      left: -25px;
      background-position: 17px 50%; }
    .slider .slick-arrow.slick-next {
      right: -25px;
      background-position: -17px 50%; }
  .slider .slick-slide {
    -webkit-border-radius: 8px;
            border-radius: 8px; }
  .slider img {
    width: 100%;
    height: auto; }

.blog-slider {
  width: 100%;
  display: block;
  position: relative;
  -webkit-box-shadow: 0 0px 43px 0px #999;
          box-shadow: 0 0px 43px 0px #999;
  min-height: 250px; }
  .blog-slider .slick-slide {
    -webkit-border-radius: 8px;
            border-radius: 8px;
    background-color: #fff;
    width: 99%;
    min-height: 250px;
    position: relative;
    padding: 28px 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center; }
    .blog-slider .slick-slide figure {
      border: 1px solid #ccc;
      padding: 10px;
      overflow: hidden;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      width: 148px;
      height: 148px;
      -webkit-flex-basis: 148px;
          -ms-flex-preferred-size: 148px;
              flex-basis: 148px;
      background-color: #fff;
      margin-right: 37px; }
      .blog-slider .slick-slide figure img {
        width: 100%;
        height: auto;
        display: inline-block;
        -webkit-border-radius: 50%;
                border-radius: 50%; }
    .blog-slider .slick-slide article {
      position: relative;
      max-width: 775px;
      width: 100%;
      padding: 0 80px 0 50px; }
      .blog-slider .slick-slide article:after {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -8px;
        width: 20px;
        height: 17px;
        background: url("../img/icon-quotes.png") no-repeat -1px 0; }
      .blog-slider .slick-slide article:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 17px;
        background: url("../img/icon-quotes.png") no-repeat -26px 0; }
      .blog-slider .slick-slide article p {
        line-height: 22px;
        color: #666;
        font-style: italic; }
        .blog-slider .slick-slide article p.person {
          font-style: normal;
          margin-top: 15px;
          position: relative;
          color: #ccc; }
          .blog-slider .slick-slide article p.person:before {
            content: '';
            display: block;
            width: 1px;
            height: 75px;
            position: absolute;
            left: -45px;
            bottom: 0;
            background-color: #ccc; }
          .blog-slider .slick-slide article p.person span {
            font-weight: 700;
            font-size: 16px;
            color: #6666ff; }

/* footer */
footer {
  background-color: #6666ff; }
  footer section {
    padding: 100px 0; }
    footer section .copyright {
      font-size: 16px;
      line-height: 22px;
      color: #fff; }
    footer section:last-child {
      background-color: #6666cc;
      height: 101px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
  footer .wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    footer .wrap .column {
      width: 100%;
      max-width: 480px;
      color: #fff; }
      footer .wrap .column h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase; }
      footer .wrap .column p {
        line-height: 22px;
        margin-top: 50px; }
      footer .wrap .column ul {
        margin-top: 50px; }
        footer .wrap .column ul ul {
          margin-top: 0; }
  footer .socials, footer .socials li {
    float: left; }
    footer .socials li {
      width: 25px; }
      footer .socials li + li, footer .socials li li + li {
        margin-left: 17px; }
    footer .socials a {
      display: block;
      width: 100%;
      height: 21px;
      background-image: url(../img/iconpack-02.png);
      background-repeat: no-repeat; }
      footer .socials a.pinterest {
        background-position: 0 0; }
      footer .socials a.twitter {
        background-position: -34px 0; }
      footer .socials a.facebook {
        background-position: -75px 0; }
      footer .socials a.googlePlus {
        background-position: -112px 0; }
      footer .socials a.instagram {
        background-position: -149px 0; }
  footer .contactUs {
    float: left;
    max-width: 480px;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    footer .contactUs > li {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    footer .contactUs ul {
      width: 100%; }
      footer .contactUs ul li {
        padding-bottom: 25px;
        padding-left: 35px;
        position: relative;
        z-index: 2;
        line-height: 22px; }
        footer .contactUs ul li:before {
          content: '';
          display: block;
          width: 25px;
          height: 25px;
          position: absolute;
          z-index: 12;
          top: 0;
          left: 0;
          background-image: url(../img/iconpack-03.png);
          background-repeat: no-repeat; }
        footer .contactUs ul li.location:before {
          background-position: 0 0; }
        footer .contactUs ul li.phone:before {
          background-position: -25px 0; }
        footer .contactUs ul li.mail:before {
          background-position: -55px 0; }
        footer .contactUs ul li.site:before {
          background-position: -85px 0; }
        footer .contactUs ul li a {
          color: #fff; }
